# 1. 忽略大体积的数据集和视频源
# -----------------------------
data/CDnet2014/
data/videos/
*.mp4
*.avi
*.jpg
*.png

# 编译产物
build/
Debug/
Release/

# VS 配置文件
.vscode/
*.suo
*.user
*.cache

# 系统文件
.DS_Store
Thumbs.db